.img {
  width: 500px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
}

.container p {
  margin-top: 10px;
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.title {
  margin-bottom: 10px;
}

.backIcon {
  margin-top: 130px;
}

.backButton {
  background-color: #397cd6;
  color: #ffffff;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 100px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #629ce8;
}
