.img {
  width: 500px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
}

.container p {
  margin-top: 10px;
}

.price {
  font-size: 20px;
  font-weight: 700;
}

.title {
  margin-bottom: 10px;
}

.backIcon {
  margin-top: 130px;
}

.backButton {
  background-color: #397cd6;
  color: #ffffff;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 10px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.GoToSummary {
  background-color: #397cd6;
  color: #ffffff;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 1px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #629ce8;
}
.GoToSummary:hover {
  background-color: #629ce8;
}

.notFound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #629ce8;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
    width: auto;
  }
  .img {
    width: 350px;
  }

  .backButton {
    margin: 10px;
  }

  .backIcon {
    margin-top: 85px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    margin: 10px;
    width: auto;
  }
  .img {
    width: 700px;
  }
  .backButton {
    margin: 10px;
  }
  .backIcon {
    margin-top: 150px;
  }
}
