* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: #333333;
  color: #ffffff;
}

::-moz-selection {
  background: #333333;
  color: #ffffff;
}

/* ----------- SCROLL BAR -------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #397cd6;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #629ce8;
}

h2 {
  font-size: 24px;
  color: #003366;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}
